@import "../../mediaQueries/mediaQueries.less";

.pieceGrid {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-around;

	margin-top: 60px;
}

.pieceImage {
	position: relative;

	min-width: 200px;
	max-width: 400px;
	flex-basis: 400px;

	margin-right: 20px;

	transform-origin: center -35px;

	transition: 500ms ease-in-out;

	&:hover {
		cursor: pointer;
	}

	@media @small-max {
		margin-right: 0px;
	}

	img:first-of-type {
		position: absolute;
		width: 10%;
		left: 45%;
		top: -35px;
		z-index: -1;

		@media @medium-max {
			top: -25px;
		}

		@media @small-max {
			top: -18px;
		}

		@media @extra-small-max {
			top: -22px;
		}
	}

	img:last-of-type {
		box-sizing: border-box;
		padding: 14px 10px 4px 10px;
		width: 100%;
	}

	div {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 11;

		box-sizing: border-box;
	}

	div:first-of-type {
		border-top: 12px solid rgb(220, 130, 0);
		border-left: 12px solid rgb(185, 88, 0);
		border-right: 12px solid rgb(200, 100, 0);
		border-bottom: 12px solid rgb(170, 75, 0);

		div {
			box-sizing: border-box;

			border-top: 3px solid rgb(200, 100, 0);
			border-left: 3px solid rgb(170, 75, 0);
			border-right: 3px solid rgb(220, 130, 0);
			border-bottom: 3px solid rgb(185, 88, 0);
		}
	}

	div:nth-of-type(2) {
		border-top: 3px solid rgba(255,255,255,0.2);
		border-left: 3px solid rgba(255,255,255,0.2);
		border-bottom: 3px solid rgba(0,0,0,0.2);
		border-right: 3px solid rgba(0,0,0,0.2);
	}
}

.vandalized {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
}

.vandalizedImage {
	filter: contrast(50%);
}

.title {
	&:hover {
		cursor: pointer;
	}
}

.description {
	flex: 1 0 calc(40% - 20px);
	min-width: 200px;
}

.modal {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;

	overflow-y: scroll;
	z-index: 200;

	transition: 200ms ease-in;

	background-color: rgba(255,255,255,0.9);

	h2 {
		min-width: 80%;
		text-align: center;
		background-color: white;
	}

	div {
		min-width: 200px;
		max-width: 1000px;
		background-color: white;

		@media @large-max {
			padding-left: 10%;
			padding-right: 10%;
		}
	}
}

.modalImage {
	max-width: 80%;
	max-height: 90%;
}

.modalVideo {
	width: 1000px;
	height: 563px;

	@media @large-max {
		width: 853px;
		height: 480px;
	}

	@media @medium-max {
		width: 640px;
		height: 360px;
	}

	@media @small-max {
		width: 560px;
		height: 315px;
	}

	@media @extra-small-max {
		width: 400px;
		height: 225px;
	}

	@media @super-small-max {
		width: 250px;
		height: 141px;
	}
}

.linkScribble {
	position: relative;
	
	div {
		position: absolute;
		top: -12px;
		left: -20px;
		width: 150px;
	}
}

.hover {
	&:hover {
		cursor: pointer;
	}
}