@import "../../mediaQueries/mediaQueries.less";

.logoContainer {
	width: 250px;
	height: 250px;
	background-color: orange;
	border-radius: 50%;

	@media @medium-min {
		width: 350px;
		height: 350px;
	}

	@media @small-max {
		width: 400px;
		height: 400px;
	}

	@media @extra-small-max {
		width: 240px;
		height: 240px;
	}
}

.logoCol {
	@media @small-max {
		display: flex;
		justify-content: center;
	}
}

.homeP {
	height: 250px;
	display: flex;
	align-items: center;

	@media @medium-min {
		height: 350px;
	}

	@media @small-max {
		height: auto;
	}
}

.homeGrid {
	margin-top: 100px;
}

.portPreview {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	margin-top: 20px;

	@media @small-max {
		width: 90%;
		margin-left: 5%;
	}

	@media only screen and (max-width: 700px) {
		width: 100%;
		margin-left: 0px;
		justify-content: center;
	}

	div {
		width: 190px;
		height: 190px;
		border: 3px solid red;
		margin-bottom: 20px;

		@media @small-max {
			width: 240px;
			height: 240px;
		}
	}

	span {
		display: none;
		height: 1px;
		width: 100%;

		@media @large-min {
			display: block;
		}
	}
}
