@import "../../mediaQueries/mediaQueries.less";

.welcome {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;

	margin-top: 30px;

	div:first-of-type {
		position: relative;
		flex: 0 0 45%;

		@media @small-max {
			flex: 0 0 100%;
		}
	}

	div:last-of-type {
		flex: 0 0 50%;

		@media @small-max {
			flex: 0 0 100%;
		}
	}
}

.playButton {
	box-shadow: rgb(207, 134, 108) 0px 1px 0px 0px inset; background: linear-gradient(rgb(208, 69, 27) 5%, rgb(188, 51, 21) 100%) rgb(208, 69, 27);
	border-radius: 3px;
	border: 1px solid rgb(148, 41, 17);
	display: inline-block;
	cursor: pointer;
	color: rgb(255, 255, 255);
	font-size: 13px;
	padding: 6px 24px;
	margin-bottom: 15px;
	text-decoration: none;
	text-shadow: rgb(133, 70, 41) 0px 1px 0px;
}

.portPreview {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	line-height: 0px;

	margin-top: 30px;
	margin-bottom: 50px;

	div {
		min-width: 200px;
		max-width: 300px;
		flex: 1 1 250px;

		align-self: center;

		img {
			width: 100%;
		}
	}
}

.portPreviewImage {
	filter: sepia(50%);

	transition: 200ms ease-in;

	&:hover {
		filter: sepia(0%);
		cursor: pointer;
	}
}

.vandalizedContainer {
	position: relative;
}

.vandalizedImage {
	filter: contrast(50%);
}

.vandalized {
	position: absolute;
	top: 0px;
	left: 0px;
}

.victoryDiv {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 201;

	pointer-events: none;

	background-color: white;
	opacity: 1;

	transition: 3s ease-out;
}