@import "../../mediaQueries/mediaQueries.less";

.welcome {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;

	div {
		position: relative;
		flex: 0 0 45%;

		@media @small-max {
			flex: 0 0 100%;
		}
	}

	p {
		flex: 0 0 50%;

		@media @small-max {
			flex: 0 0 100%;
		}
	}
}

.portPreview {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	margin-top: 20px;

	@media @small-max {
		width: 90%;
		margin-left: 5%;
	}

	@media only screen and (max-width: 700px) {
		width: 100%;
		margin-left: 0px;
		justify-content: center;
	}

	div {
		width: 190px;
		height: 190px;
		border: 3px solid red;
		margin-bottom: 20px;

		@media @small-max {
			width: 240px;
			height: 240px;
		}

		@media @super-small-max {
			width: 200px;
			height: 200px;
		}
	}

	span {
		display: none;
		height: 1px;
		width: 100%;

		@media @large-min {
			display: block;
		}
	}
}
