.monitorSvg {
	width: 100%;
}

.uglyGif {
	width: 98%;
	height: 90%;
	position: absolute;
	left: 1%;
	top: 1%;
	z-index: -5;
}

.monitor {
	width: 300px;
	position: absolute;
	top: 30%;
	right: 55%;
	transition: 500ms;
	transform: rotate3d(.5, -4, 1, 20deg);

	&:hover {
		transform: rotate3d(1, -8, 2, 180deg);
	}
}

.monitorSideSvg {
	position: absolute;
	height: 94.5%;

	transition: 500ms;
	
	transform: rotateZ(45deg);
}