.world {
	display: flex;
	position: relative;
	transform-style: preserve-3d;
}

.objectGroup {
	display: flex;
	align-items: center;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

// Cube Styles

.cube {
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;

	div {
		position: absolute;
	}

	div:nth-of-type(1) {
		&:extend(.cube-front);
	}
	div:nth-of-type(2) {
		&:extend(.cube-back);
	}
	div:nth-of-type(3) {
		&:extend(.cube-left);
	}
	div:nth-of-type(4) {
		&:extend(.cube-right);
	}
	div:nth-of-type(5) {
		&:extend(.cube-top);
	}
	div:nth-of-type(6) {
		&:extend(.cube-bottom);
	}
}

.cube-front {

}

.cube-back {
}

.cube-left {
	transform-origin: left;
}

.cube-right {
	transform-origin: right;
}

.cube-top {
	transform-origin: top;
}

.cube-bottom {
	transform-origin: bottom;
}

// Polygon Styles

@keyframes rotateY {
	100% {
		transform: rotateY(-360deg);
	}
}

.rotateY {
	animation: rotateY 10s linear infinite;
}

.polygon {
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-origin: right;

	&:extend(.rotateY);

	svg, div {
		position: absolute;
		transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
	}

	svg:nth-of-type(2) {
		&:extend(.polygon-back);
	}
}

.polygon-back {
}