.navbarContainer {
  position: fixed;
  width: 100%;
  z-index: 51;
  display: flex;
  flex-direction: row;
  justify-content: center;
  user-select: none;
}
@media only screen and (max-width: 480px) {
  .navbarContainer {
    display: block;
  }
}
.navbar {
  position: static;
  min-width: 200px;
  max-width: 1000px;
  flex-basis: auto;
  flex-grow: 1;
  height: 50px;
  background-color: #32323e;
  border-top: 8px solid #646478;
  border-bottom: 8px solid #c8c8f0;
  border-right: 8px solid #787896;
  border-left: 8px solid #a0a0c8;
}
.navbar a {
  float: left;
  width: 25%;
  height: 50px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.navbar a h4 {
  width: 100%;
  height: 100%;
  line-height: 50px;
  margin: 0px;
  background-color: #7878a4;
  box-sizing: border-box;
  border: 1px solid #4b4b5a;
}
@media only screen and (max-width: 480px) {
  .navbar {
    display: none;
  }
}
.navbarCollapsed {
  display: none;
  float: left;
  width: 100%;
  line-height: 40px;
}
.navbarCollapsed div:first-of-type {
  position: static;
  float: left;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  height: 40px;
  width: 40px;
  color: white;
  background-color: #7878a4;
  box-sizing: border-box;
  border: 1px solid #4b4b5a;
}
.navbarCollapsed div:first-of-type:hover {
  cursor: pointer;
}
.navbarCollapsed div:last-of-type {
  position: static;
  float: left;
  width: calc(80%);
}
.navbarCollapsed div:last-of-type a {
  float: left;
  width: 50%;
  height: 40px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.navbarCollapsed div:last-of-type a h4 {
  width: 100%;
  height: 100%;
  line-height: 40px;
  margin: 0px;
  background-color: #7878a4;
  box-sizing: border-box;
  border: 1px solid #4b4b5a;
}
@media only screen and (max-width: 480px) {
  .navbarCollapsed {
    display: block;
  }
}
.placeholder {
  width: 100%;
  height: 68px;
}
.scene {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 40;
}
.dummyNav {
  position: static;
  min-width: 200px;
  max-width: 1000px;
  flex-basis: auto;
  flex-grow: 1;
  height: 50px;
  background-color: #32323e;
  border-top: 8px solid #646478;
  border-bottom: 8px solid #c8c8f0;
  border-right: 8px solid #787896;
  border-left: 8px solid #a0a0c8;
}
.dummyNav div {
  float: left;
  width: 25%;
  height: 50px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.dummyNav div h4 {
  width: 100%;
  height: 100%;
  line-height: 50px;
  margin: 0px;
  background-color: #7878a4;
  box-sizing: border-box;
  border: 1px solid #4b4b5a;
}
@media only screen and (max-width: 480px) {
  .dummyNav {
    display: none;
  }
}
.dummyMobile {
  display: none;
  float: left;
  width: 100%;
  line-height: 40px;
}
.dummyMobile div:first-of-type {
  position: static;
  float: left;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  height: 40px;
  width: 40px;
  color: white;
  background-color: #7878a4;
  box-sizing: border-box;
  border: 1px solid #4b4b5a;
}
.dummyMobile div:first-of-type:hover {
  cursor: pointer;
}
.dummyMobile div:last-of-type {
  position: static;
  float: left;
  width: calc(80%);
}
.dummyMobile div:last-of-type span {
  float: left;
  width: 50%;
  height: 40px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.dummyMobile div:last-of-type span h4 {
  width: 100%;
  height: 100%;
  line-height: 40px;
  margin: 0px;
  background-color: #7878a4;
  box-sizing: border-box;
  border: 1px solid #4b4b5a;
}
@media only screen and (max-width: 480px) {
  .dummyMobile {
    display: block;
  }
}
.silhouette {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  pointer-events: none;
  transform-origin: 70% 60%;
  transition: 500ms;
}
@media only screen and (max-width: 480px) {
  .silhouette {
    width: 180%;
    margin-left: -40%;
  }
}
.navbarShadow {
  opacity: 0;
  position: absolute;
  top: -8px;
  right: -8px;
  z-index: 101;
  height: 66px;
  width: 10%;
}
.emergencyPanelContainer {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  perspective: 700;
  top: -100px;
  z-index: 5;
  transition: 500ms ease-in;
}
@media only screen and (max-width: 480px) {
  .emergencyPanelContainer {
    align-items: flex-start;
    top: -150px;
    margin-bottom: 30px;
  }
}
.emergencyPanel {
  float: right;
  padding: 10px;
  color: white;
  background-color: red;
  transform-origin: bottom left;
  text-align: center;
}
.emergencyPanel label,
.emergencyPanel input,
.emergencyPanel button {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.emergencyPanel input {
  width: 130px;
  max-width: 100%;
}
@media only screen and (max-width: 480px) {
  .emergencyPanel {
    width: 60%;
  }
}
@keyframes panelOpen {
  30% {
    transform: rotateX(-180deg);
  }
  50% {
    transform: rotateX(-150deg);
  }
  75% {
    transform: rotateX(-180deg);
  }
  90% {
    transform: rotateX(-180deg) rotateZ(-6deg);
  }
  100% {
    transform: rotateX(-180deg) rotateZ(-4deg);
  }
}
.panelOpen {
  animation: panelOpen 1500ms ease-in-out forwards;
}
.panelAlreadyOpen {
  transform: rotateX(-180deg) rotateZ(-4deg);
}
.knifeCubby {
  position: absolute;
  top: 0px;
  padding: 8px;
  box-shadow: inset 0px 0px 20px black;
  border: 2px solid #969696;
  z-index: -1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #646464;
}
.hole:hover {
  cursor: pointer;
}
/*# sourceMappingURL=silhouette.css.map */