@import "../../mediaQueries/mediaQueries.less";

.loaderContainer {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;

	@media @extra-small-max {
		width: 90%;
		margin-left: 5%;
	}
}

.loaderText {
	position: relative;
	top: 20px;
	margin: 0px;
	@media @extra-small-max {
		font-size: 24px;
	}
}

.gears {
	max-height: 80%;
	max-width: 1000px;

	@media @extra-small-max {
		width: 140%;
	}

	div {
		display: block;
		width: 100%;
	}
}

.paperItem {
	pointer-events: auto;
	&:hover {
		cursor: pointer;
	}
}