@import "../../mediaQueries/mediaQueries.less";

.loaderContainer {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;

	@media @extra-small-max {
		width: 90%;
		margin-left: 5%;
	}
}

.loaderText {
	position: relative;
	top: 20px;
	margin: 0px;
	@media @extra-small-max {
		font-size: 24px;
	}
}

.gears {
	max-height: 80%;
	max-width: 1000px;
	@media @extra-small-max {
		width: 140%;
	}
}

.paper {
	position: absolute;
	left: 45%;
	z-index: 5;
}

.paperSVG {
	position: absolute;
	top: -36%;
	left: 7%;
	transform: scale(.04, .04);
}

.paperItem {
	pointer-events: auto;
	&:hover {
		cursor: pointer;
	}
}