.navbar {
	padding-left: 50px;
	margin: 0px;

	li {
		float: left;
		padding: 10px;
		list-style-type: none;
		&:first-of-type {
  			padding-left: 0px;
		}
	}
	a {
		font-weight: bold;
  		color: orange;
	  	text-decoration: none;
	  	text-align: center;

	  	transition: color ease-in-out 200ms;
		&:hover {
		  	color: brown;
		}
	}
}