@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  animation: fadeIn 500ms ease-in-out forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeOut {
  animation: fadeOut 500ms ease-in-out forwards;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spin 2s linear infinite;
}
@keyframes spin-counter {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.spinCounter {
  animation: spin-counter 2s linear infinite;
}
@keyframes shrink {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.9, 0.9);
  }
}
.shrink {
  animation: shrink 1s linear forwards;
}
@keyframes grow {
  0% {
    transform: scale(0.9, 0.9);
  }
  100% {
    transform: scale(1, 1);
  }
}
.grow {
  animation: grow 1s linear forwards;
}
@keyframes wiggle {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
.wiggle {
  animation: wiggle 1s linear infinite;
}
@keyframes squishX {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 0.75);
  }
  100% {
    transform: scale(1, 1);
  }
}
.squishX {
  animation: squishX 300ms;
}
@keyframes imgAttack {
  0% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(0.8, 0.8);
  }
  40% {
    transform: scale(3, 3);
  }
  60% {
    transform: rotate(5deg);
  }
  62% {
    transform: rotate(-10deg);
  }
  64% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(-10deg);
  }
  68% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  72% {
    transform: rotate(10deg);
  }
  74% {
    transform: rotate(-10deg);
  }
  76% {
    transform: rotate(10deg);
  }
  78% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  82% {
    transform: rotate(-10deg);
  }
  84% {
    transform: rotate(10deg);
  }
  86% {
    transform: rotate(-5deg);
    transform: scale(3, 3);
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: scale(10, 10);
    opacity: 0;
  }
}
.imgAttack {
  animation: imgAttack 5s forwards;
}
@keyframes FallSquish {
  0% {
    transform: scale(0.75, 1.5);
  }
}
@keyframes LandSquish {
  50% {
    transform: scale(2, 1);
  }
}
@keyframes BounceSquish {
  50% {
    transform: scale(1.25, 1);
  }
}
.initialLetterStyle,
.HFall,
.OFall,
.MFall {
  position: absolute;
  bottom: 120%;
  left: 45%;
}
@keyframes HFallX {
  100% {
    left: 10%;
  }
}
@keyframes HFallY {
  100% {
    bottom: 10%;
  }
}
@keyframes HBounceTranslateX {
  100% {
    transform: translateX(-300%);
  }
}
@keyframes HBounceTranslateY {
  40% {
    transform: translateY(-300%);
  }
  60% {
    transform: translateY(-300%);
  }
}
@keyframes HFallRotate {
  100% {
    transform: rotate(85deg);
  }
}
@keyframes HBounceRotate {
  100% {
    transform: rotate(-43.7deg);
  }
}
.HFall {
  animation: HFallY 200ms linear 3000ms forwards;
}
.HFall div {
  animation: HFallX 200ms linear 3000ms forwards;
}
.HFall div div {
  animation: HBounceTranslateX 300ms linear 3200ms forwards;
}
.HFall div div div {
  animation: HBounceTranslateY 300ms linear 3200ms forwards;
}
.HFall div div div div {
  animation: FallSquish 200ms ease-out 3000ms;
}
.HFall div div div div div {
  animation: LandSquish 100ms 3200ms;
}
.HFall div div div div div div {
  animation: BounceSquish 100ms 3400ms;
}
.HFall div div div div div div div {
  animation: HFallRotate 300ms linear 2800ms forwards;
}
.HFall div div div div div div div div {
  animation: HBounceRotate 300ms linear 3200ms forwards;
}
@keyframes OFallX {
  0% {
    transform: translateX(-250%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(200%);
  }
}
@keyframes OFallY {
  100% {
    bottom: 10%;
  }
}
@keyframes OBounceTranslateX {
  100% {
    transform: translateX(100%);
  }
}
@keyframes OBounceTranslateY {
  40% {
    transform: translateY(-250%);
  }
  60% {
    transform: translateY(-250%);
  }
}
@keyframes OFallRotate {
  100% {
    transform: rotate(-58deg);
  }
}
@keyframes OBounceRotate {
  100% {
    transform: rotate(70deg);
  }
}
@keyframes OSettleRotate {
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
@keyframes OSettleTranslateX {
  45% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(10%);
  }
}
@keyframes OSettleTranslateY {
  50% 50% {
    transform: translateY(25%);
  }
}
.OFall {
  animation: OFallY 200ms linear 3500ms forwards;
}
.OFall div {
  animation: OFallX 200ms linear 3500ms forwards;
}
.OFall div div {
  animation: OBounceTranslateX 300ms linear 3700ms forwards;
}
.OFall div div div {
  animation: OBounceTranslateY 300ms linear 3700ms forwards;
}
.OFall div div div div {
  animation: OSettleTranslateX 1s ease-in 4s forwards;
}
.OFall div div div div div {
  animation: OSettleTranslateY 1s ease-in 4s;
}
.OFall div div div div div div {
  animation: FallSquish 200ms ease-out 3500ms;
}
.OFall div div div div div div div {
  animation: LandSquish 100ms 3700ms;
}
.OFall div div div div div div div div {
  animation: BounceSquish 100ms 3900ms;
}
.OFall div div div div div div div div div {
  animation: OFallRotate 300ms linear 3300ms forwards;
}
.OFall div div div div div div div div div div {
  animation: OBounceRotate 300ms linear 3700ms forwards;
}
.OFall div div div div div div div div div div div {
  animation: OSettleRotate 1s ease-in-out 4s forwards;
}
@keyframes MFallX {
  0% {
    transform: translateX(400%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes MFallY {
  100% {
    bottom: 10%;
  }
}
@keyframes MFallRotate {
  100% {
    transform: rotate(-110deg);
  }
}
@keyframes MBounceRotate {
  100% {
    transform: rotate(-410deg);
  }
}
@keyframes MSettle {
  10% {
    transform: rotate(-2deg) translate(6%, 0%);
  }
  20% {
    transform: rotate(-3.5deg) translate(8%, -2%);
  }
  30% {
    transform: rotate(-5deg) translate(10%, -2.5%);
  }
  40% {
    transform: rotate(-8deg) translate(12%, 0%);
  }
  50% {
    transform: rotate(-8.5deg) translate(12.5%, 0.25%);
  }
  60% {
    transform: rotate(-8deg) translate(12%, 0%);
  }
  80% {
    transform: rotate(-6.5deg) translate(11%, -2%);
  }
  100% {
    transform: rotate(-5deg) translate(10%, -2.5%);
  }
}
@keyframes MBounceTranslateX {
  100% {
    transform: translateX(-400%);
  }
}
@keyframes MBounceTranslateY {
  40% {
    transform: translateY(-400%);
  }
  60% {
    transform: translateY(-400%);
  }
}
.MFall {
  animation: MFallY 200ms linear 3300ms forwards;
}
.MFall div {
  animation: MFallX 200ms linear 3300ms forwards;
}
.MFall div div {
  animation: MBounceTranslateX 400ms linear 3500ms forwards;
}
.MFall div div div {
  animation: MBounceTranslateY 400ms linear 3500ms forwards;
}
.MFall div div div div {
  animation: FallSquish 200ms ease-out 3300ms;
}
.MFall div div div div div {
  animation: LandSquish 100ms 3500ms;
}
.MFall div div div div div div {
  animation: BounceSquish 100ms 3800ms;
}
.MFall div div div div div div div {
  animation: MFallRotate 300ms linear 3100ms forwards;
}
.MFall div div div div div div div div {
  animation: MBounceRotate 400ms ease-in 3500ms forwards;
}
.MFall div div div div div div div div div {
  animation: MSettle 800ms linear 4000ms forwards;
}
/*# sourceMappingURL=styles.css.map */